html {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: -10px -10px 8px -8px lightgrey, 10px -10px 8px -8px lightgrey;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 21px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

a {
    text-decoration: none;
}

.main-nav {
    position: relative;
    height: 60px;
    
}

.header-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 44%;
    z-index: 1;
}

.main-linkslist,
.feature-list,
.footer-links{
    list-style: none;
}

.main-linkslist {
    padding-left: 6.5%;
    padding-right: 6.5%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}


.main-linkslist li {
    width: 20%;
    padding-top: 20px;
}

.main-linkslist li:first-child {
    text-align: left;
    padding-right: 2.27%;
}

.main-linkslist li:nth-child(2){
    text-align: left;
    padding-right: 9%;
}

.main-linkslist li:nth-child(3),
.main-linkslist li:last-child {
    text-align: right;
    padding-left: 2.27%;
}





.main-linkslist a {
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    
}

.main-linkslist a:hover {
    color: #81b3d2;
}

.main-linkslist a:visited {
    color: #cacaca;
   
}

.main-linkslist a:active {
    color: #766357;
}

.main-linkslist a:focus {
    color: #81b3d2;
}


.top-text{
    position: relative;
    height: 510px;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
}

.shape-top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.welcome {
    margin-top: 76px;
    
}

.intro-box {
    background-color: white;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
    box-sizing: inherit;
    
    
}

.intro-box h1 { 
  font-size: 21px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 26px;
  
}

.main-text-under {
      font-size: 14px;
      font-family: "PT Sans";
      color: #333333;
      font-weight: normal;
      line-height: 26px;
}

.main-features {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.feature-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #81b3d2;
    width: 33%;
    height: 255px;
    color: white;
    box-sizing: inherit;
}

.feature-right {
    background-image: url(../img/Layer-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 67%;
    height: 255px;
}


.feature-list  {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center; 
}

.feature-list li {
    width: 33%;
}



.main-features-reverse {
    display: flex;
    flex-direction: row;
}

.feature-right-bridge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #81b3d2;
    text-align: center;
    width: 33%;
    height: 255px;
    color: white;
    box-sizing: inherit;
    
}

.feature-left-bridge {
    background-image: url(../img/Layer-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 67%;
    height: 255px;
}

.feature-box {
    background-color: white;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-feature-box {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 60px;
    box-sizing: inherit;
}
aside {
    padding-top: 25px;
    background-color: white;
    text-align: center;
    height: 295px;
    box-sizing: inherit;
    
}

aside h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}











table {
    border: 1px solid black;
    
}

.position-box {
    position: relative;
}

.first-calendar {
    position: absolute;
    right: 13px;
    top: 1px;  
    opacity: 0.3;
}

.first-calendar:hover,
.second-calendar:hover {
    opacity: 1;
}



.second-calendar {
    position: absolute;
    right: 13px;
    top: 71px;
    opacity: 0.3;
}

.position-plus {
    position: absolute;
    left: 200px;
    top: 0px;
    
    
}

.position-minus {
    position: absolute;
    left: 100px;
    top: 0px;
}

.position-plus2 {
    position: absolute;
    left: 380px;
    top: 0px;
    
}

.position-minus2 {
    position: absolute;
    left: 280px;
    top: 0px;
}



.main-footer {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 593px;
}


.hotels-form p {
    margin: 0;
    padding: 0;
}

.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: white;
    opacity: 0.9;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 0;
    padding: 0;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 6px;
    background-color: #81b3d2;
    box-sizing: inherit;
}



.hash {
    font-size: 21px;
    font-weight: bold;
    color: black;  
}

.website-logo {
    height: 45px;
}

.website-span,
.website-link {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    vertical-align: middle;
    
}


.search2 {
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;  
    
}


.search-form {
    width: 570px;
    height: 480px;
    border: 1px solid gold;
}

.search-hotel-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.search-top {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #766357;
    height: 87px;
    font-size: 21px;
    font-family: "PT Sans";
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
}

.search-top:hover {
    background-color: #604e43;
}

.search-top:active {
    background-color: #503e33;
}

.search-top :active {
    opacity: 0.3;
}

.search-top h3 {
    color: #ffffff;
}


.form-text {
    background-color: #f2f2f2;
}

.form-text:hover {
    background-color: #ebebeb;
}

.form-text:focus {
    background-color: #ffffff;
    border-style: 1px solid #e5e5e5;
}

.position-box  {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    box-sizing: inherit;
    
}

.flex-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    box-sizing: inherit;
}




.position-box input {
    width: 70%;
    height: 38px;
    padding-left: 12px;
    box-sizing: inherit;
}

.flex-adults {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 243px; 
}

.flex-kids {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 40%;
    
}

.position-box-people {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
    box-sizing: inherit;
    
}

.position-box-people input {
    background-color: #f2f2f2;
    width: 115px;
    height: 38px;
    text-align: center;
    box-sizing: inherit;
}

.position-box label,
.position-box input,
.position-box-people input,
.position-box-people label{
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border-style: hidden;
}



.form-button {
    width: 460px;
    height: 60px;
    background-color: #81b3d2;
    font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
    
}






.hotels-form {
    height: 220px;
    background-image: url(../img/hotels-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 72px;
    box-sizing: inherit;
    height: 220px;
}

.form-table {
    margin-left: auto;
}

.form-types {
    margin-left: 200px;
}

.form-infra,
.form-types,
.form-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0;
    height: 100%;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: bold;
}

.form-infra label,
.form-types label,
.form-table label {
    font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  font-weight:normal;
  text-transform: uppercase;
}



.form-infra input[type="checkbox"]:checked,
.form-types nput[type="checkbox"]:checked {
    display: none;   
}

.form-infra input[type="checkbox"],
.form-types input[type="checkbox"] {
    display: none;
    
}

.form-infra label,
.form-types label{
    padding-left: 42px;
    padding-top: 2px;
    box-sizing: inherit;
}

.form-infra input[type="checkbox"]:checked + label,
.form-types input[type="checkbox"]:checked + label{
    content: "";
    display: inline-block;
    height: 23px;
    width: 27px;
    background-image: url(../img/method.svg);
    background-repeat:no-repeat;  
}

.form-infra input[type="checkbox"] + label,
.form-types input[type="checkbox"] + label{
    content: "";
    display: inline-block;
    height: 23px;
    width: 27px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;  
}



.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
}


.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}












.search-results {
    display: flex;
    flex-direction: row;
    padding: 0 72px;
    box-sizing: inherit;
    
}

.search-results ul {
    padding: 0;
}

.sort-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    opacity: 0.3;
}




.sort-button-active {
    margin-left: 12px;
}



.found {
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    width: 13%;
}

.sort-found {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 87%;
    margin-left: auto; 
}



.sort-section li:first-child {
    margin-right: 40px; 
}

.sort-section li:nth-child(2),
.sort-section li:nth-child(3) {
    margin-right: 35px; 
}

.sort-section a:active {
    color: #81b3d2;
}

.sort-section a:hover {
    color: #81b3d2;
    text-decoration: underline;
}

.sort-section a:visited {
    color: #000000;
    text-decoration:none;
}

.sort-section a {
    color: #cacaca;
}


.search-results li {
    display: inline-block;
    vertical-align: middle;
}


.result-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 72px;
    border-top: 1px solid lightgrey;
}

.result-item:nth-child(3) {
    border-bottom: 1px solid lightgrey;
}

.flex-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    margin-left: 30px;
}

.hotel-name {
  font-size: 21px;
  font-family: "PT Sans";
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
}


.hotel-name:active {
    color: #cacaca;
}

.hotel-name:hover {
    color: #81b3d2;
}

.three-stars {
    width: 6.5%;
    overflow: hidden;
    margin-left: auto;
}

.two-stars {
    width: 4%;
    overflow: hidden;
    margin-left: auto;
}




.hotel-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.hotel-flex h3 {
    margin: 0;
    padding: 0;
}

.hotel-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; 
    width: 182px;
}

.hotel-details {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.button-details  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 110px;
    background-color: #81b3d2;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
}

.button-details:hover {
    background-color: #669ec0;
}

.button-details:active {
    background-color: #5496bd;
    color: #88b6d1;
}


.button-book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 142px;
    background-color: #766357;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.button-book:hover {
    background-color: #604e43;
}

.button-book:active {
    background-color: #503e33;
    color: #857871;
}

.rate-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 110px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #666666;
    font-weight: regular;
    text-transform: uppercase;
    margin-left: auto;
}


.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}