html {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #f2f2f2;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: -10px -10px 8px -8px lightgrey, 10px -10px 8px -8px lightgrey;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 21px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
}

a {
    text-decoration: none;
}

.main-nav {
    position: relative;
    height: 60px;
    
    
}

.header-logo {
    position: absolute;
    left: 45%;
    top: 0;
    z-index: 1;
}

.main-linkslist,
.feature-list,
.footer-links{
    list-style: none;
}

.main-linkslist {
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    justify-content:space-between;
    margin: 0;
}


.main-linkslist li {
    width: 20%;
    padding-top: 20px;

    
}

.main-linkslist li:first-child {
    text-align: left;
    padding-right: 2.27%;
}

.main-linkslist li:nth-child(2){
    text-align: left;
    padding-right: 9%;
}

.main-linkslist li:nth-child(3),
.main-linkslist li:last-child {
    text-align: right;
    padding-left: 2.27%;
}





.main-linkslist a {
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    
}

.main-linkslist a:hover {
    color: #81b3d2;
}

.main-linkslist a:visited {
    color: #cacaca;
   
}

.main-linkslist a:active {
    color: #766357;
}

.main-linkslist a:focus {
    color: #81b3d2;
}


.top-text{
    position: relative;
    height: 510px;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-align: center;
}

.shape-top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.welcome {
    margin-top: 76px;
    
}

.intro-box {
    background-color: white;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 65px;
    box-sizing: border-box;
    
    
}

.intro-box h1 { 
  font-size: 21px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 26px;
  
}

.main-text-under {
  font-size: 14px;
  font-family: "PT Sans";
  color: #333333;
  font-weight: normal;
  line-height: 26px;
}

.main-features {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.feature-left {
    background-color: #81b3d2;
    text-align: center;
    width: 33%;
    height: 255px;
    color: white;
    padding-top: 50px;
    box-sizing: border-box;
}

.feature-right {
    background-image: url(../img/Layer-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 67%;
    height: 255px;
}


.feature-list  {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    
}



.main-features-reverse {
    display: flex;
    flex-direction: row;
}

.feature-right-bridge {
    background-color: #81b3d2;
    text-align: center;
    width: 33%;
    height: 255px;
    color: white;
    padding-top: 50px;
    padding-bottom: 60px;
    box-sizing: border-box;
    
}

.feature-left-bridge {
    background-image: url(/img/Layer-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    width: 67%;
    height: 255px;
    
}

.feature-box {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.second-feature-box {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 60px;
    box-sizing: border-box;
}
aside {
    padding-top: 25px;
    background-color: white;
    text-align: center;
    height: 295px;
    box-sizing: border-box;
    
}

aside h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}











table {
    border: 1px solid black;
    
}

.position-box {
    position: relative;
}

.position-calendar-img1 {
    position: absolute;
    left: 230px;
    top: -2px;
    
    
}

.position-calendar-img2 {
    position: absolute;
    left: 230px;
    top: 15px;
}

.position-plus {
    position: absolute;
    left: 200px;
    top: 0px;
    
}

.position-minus {
    position: absolute;
    left: 100px;
    top: 0px;
}

.position-plus2 {
    position: absolute;
    left: 380px;
    top: 0px;
    
}

.position-minus2 {
    position: absolute;
    left: 280px;
    top: 0px;
}



.main-footer {
    display: flex;
    flex-direction: column-reverse;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 593px;
}
.hotel-footer {

    
}

.hotels-form p {
    margin: 0;
    padding: 0;
}

.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: white;
    opacity: 0.9;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.social-button  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 6px;
    background-color: #81b3d2;
    box-sizing: border-box;
}



.hash {
    font-size: 21px;
    font-weight: bold;
    color: black;  
}

.website-logo {
    height: 45px;
}

.website-span,
.website-link {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    
}





.search-form {
    width: 570px;
    height: 480px;
    border: 1px solid gold;
}

.search-hotel-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.search-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #766357;
    height: 87px;
}

.search-top h3 {
    color: #ffffff;
}


.form-text {
    background-color: #f2f2f2;
    border-style: hidden;
}

.position-box  {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    box-sizing: border-box;
    
}

.flex-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    box-sizing: border-box;
}


.position-box input {
    width: 70%;
    height: 38px;
    padding-left: 12px;
    box-sizing: border-box;
}

.flex-adults {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 253px; 
}

.flex-kids {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 40%;
    
}

.position-box-people {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
    box-sizing: border-box;
    
}

.position-box-people input {
    background-color: #f2f2f2;
    width: 115px;
    height: 38px;
    text-align: center;
    box-sizing: border-box;
}

.position-box label,
.position-box input,
.position-box-people input,
.position-box-people label{
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border-style: hidden;
}



.form-button {
    width: 460px;
    height: 60px;
    background-color: #81b3d2;
    font-size: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
    
}






.hotels-form {
    height: 220px;
    background-image: url(../img/hotels-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.search-results {
    display: flex;
    flex-direction: row;
}




.search-results li {
    display: inline-block;
    vertical-align: middle;
}


.result-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 72px;
    border-top: 1px solid lightgrey;
}

.result-item:nth-child(3) {
    border-bottom: 1px solid lightgrey;
}

.flex-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    margin-left: 30px;
    
}

.hotel-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.hotel-flex h3 {
    margin: 0;
    padding: 0;
}

.hotel-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; 
    width: 182px;
}

.hotel-details {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.button-details  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 110px;
    background-color: #81b3d2;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
}

.button-book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 142px;
    background-color: #766357;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.rate-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 110px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #666666;
    font-weight: regular;
    text-transform: uppercase;
    margin-left: auto;
}


.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}