.body-container {
    margin: auto;
    -webkit-box-shadow: 0px 5px 12px 2px rgba(194,194,194,0.72);
    -moz-box-shadow: 0px 5px 12px 2px rgba(194,194,194,0.72);
    box-shadow: 0px 5px 12px 2px rgba(194,194,194,0.72);
    box-sizing: border-box;
    max-width: 1200px;
}

body {
    
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    background-color: #f2f2f2;
}



a {
    text-decoration: none;
}

.main-nav {
    position: relative;
    height: 56px;
    background-color: #ffffff;
}

.header-logo {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 50%;
    top: 34%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.main-linkslist,
.feature-list,
.footer-links{
    list-style: none;
}

.main-linkslist {
    padding-left: 5.5%;
    padding-right: 5.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 0;
}


.main-linkslist li {
    width: 20%;
    padding-top: 15px;
}

.main-linkslist li:first-child {
    text-align: left;
    padding-right: 2.27%;
}

.main-linkslist li:nth-child(2){
    text-align: left;
    padding-right: 9%;
}

.main-linkslist li:nth-child(3),
.main-linkslist li:last-child {
    text-align: right;
    padding-left: 2.27%;
}

.main-linkslist a {
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
}

.main-linkslist a:hover {
    color: #81b3d2;
}

.main-linkslist a:focus {
    color: #81b3d2;
}

.main-linkslist a:active {
    color: #cacaca;  
}

.current-page a {
    color: #766357;
}

.top-text{
    position: relative;
    height: 510px;
    background-color: #ffffff;
    background-image: url(../img/background-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 21%;
    
    text-align: center;
}

.shape-top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.welcome {
    margin-top: 76px;
    
}

.intro-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    height: 215px;    
}

.intro-box h1 { 
    font-size: 21px;
    font-family: "PT Sans" "Arial" sans-serif;
    color: #000000;
    font-weight: bold;
    line-height: 26px;
    padding-top: 5px;
}

.main-text-under {
    font-size: 14px;
    font-family: "PT Sans" "Arial" sans-serif;
    color: #333333;
    font-weight: normal;
    line-height: 26px;
}

.main-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.feature-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #81b3d2;
    width: 33%;
    height: 255px;
    color: white;
    box-sizing: inherit;
    text-align: center;
    padding: 47px 0 60px 0;
    box-sizing: border-box;
}

.feature-left h2,
.feature-left p {
    margin:0;
    padding: 0;
}

.feature-right {
    background-color: #ffffff;
    background-image: url(../img/Layer-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 54%;
    width: 67%;
    height: 255px;
}

.feature-list h3 {
    font-size: 21px;
    font-family: "PT Sans";
    color: #000000;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
}

.feature-list  {
    margin: 0;
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center; 
}

.feature-list li {
    width: 33%;
}



.main-features-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}

.feature-right-bridge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #81b3d2;
    text-align: center;
    width: 33%;
    height: 255px;
    color: white;
    padding: 47px 0 60px 0;
    box-sizing: border-box;   
}

.feature-right-bridge h2,
.feature-right-bridge p {
    margin:0;
    padding: 0;
}


.feature-left-bridge {
    background-color: #ffffff;
    background-image: url(../img/Layer-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 54%;
    width: 67%;
    height: 255px;
}

.feature-box {
    background-color: white;
    height: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.feature-box ul {
    height: 330px;
}

.feature-box li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 80px 0;
    box-sizing: border-box;
    
}

.feature-box h3,
.feature-box p {
    margin:0;
    padding: 0;
}

.second-feature-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 255px;
    background-color: #f2f2f2;
}

.second-feature-box ul {
    height: 255px;
}

.second-feature-box p,
.second-feature-box h3 {
    margin: 0;
    padding: 0;
}

.second-feature-box li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 49px 0 60px 0;
    box-sizing: border-box;
}

aside {
    background-color: white;
    text-align: center;
    height: 295px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center
        
    
}

aside h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    margin-top: 57px;
    margin-bottom: 0;
    padding: 0;
}

aside p {
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    padding-top: 5px;
    color: #000000;
}



.position-box {
    position: relative;
}

.first-calendar {
    position: absolute;
    right: 5px;
    top: 4.5px;  
    opacity: 0.3;
}

.first-calendar:hover,
.second-calendar:hover {
    opacity: 1;
}

.first-calendar:active,
.second-calendar:active {
    fill: #81b3d2;
}

.second-calendar {
    position: absolute;
    right: 5px;
    top: 70px;
    opacity: 0.3;
}

.position-plus {
    color: #a9a9a9;
    font-size: 30px;
    position: absolute;
    right: 4%;
    top: 24%;
}

.position-minus {
    color: #a9a9a9;
    font-size: 30px;
    position: absolute;
    left: 56%;
    top: 24%;
}

.kids-plus {
    color: #a9a9a9;
    font-size: 30px;
    position: absolute;
    right: 5%;
    top: 24%;
}

.kids-minus {
    color: #a9a9a9;
    font-size: 30px;
    position: absolute;
    left: 42%;
    top: 24%;
}

.position-plus:hover,
.position-minus:hover,
.kids-plus:hover,
.kids-minus:hover {
    color: #000000;
}

.position-plus:active,
.position-minus:active,
.kids-plus:active,
.kids-minus:active {
    color: #81b3d2;
}


.adults-line {
    width: 50%;
}

.kids-line {
    width: 62%;
}

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 595px;
    background-color: #ffffff;
}

.hotels-form p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
}

.footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    background-color: white;
    opacity: 0.9;
    width: 100%;
    position: absolute;
    z-index: 5;  
}

.hotel-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    justify-content: flex-start;
    align-items: center;
    height: 120px;
    background-color: #ffffff;
}



.footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin: 0;
    padding: 0;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 21.6%;
    width: 150px;
}

.social-button  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    background-color: #81b3d2;
    box-sizing: inherit;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button img:active {
    opacity: 0.3;
}


.hash {
    font-size: 21px;
    font-weight: bold;
    color: black;
    padding-left: 11%;
}

.website-logo {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 18.1%;
} 

.website-span {
    min-width: 80px;
}

svg:hover .html-logo{
    fill: #669ec0;
}

svg:active .html-logo {
    fill: #bdbbbc;
}

.website-link a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.website-span,
.website-link {
    padding-left: 5px;    
}

.search2 {
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;     
}


.search-form {
    width: 570px;
    height: 480px;   
}

.map {
    border-style: none;
    width: 100%; 
    height: 595px;
    border: 0;
}


.search-hotel-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    animation: bounce 0.4s;
    z-index: 12;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 570px;
    background: #fff;
    position: absolute;
    top: 2171px;
    left: 25.8%;
    height: 400px;
    -webkit-box-shadow: 0px 17px 25px 5px rgba(204,204,204,0.52);
    -moz-box-shadow: 0px 17px 25px 5px rgba(204,204,204,0.52);
    box-shadow: 0px 17px 25px 5px rgba(204,204,204,0.52);
    
}

.search-hide {
    display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(900px);
  }

  70% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(-0px);
  }

  100% {
    transform: translateY(0);
  }
}

.search-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px;
    background-color: #766357;
    height: 87px;
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 26px;
    border-style: none;
    position: absolute;
    left: 25.8%;
    top: 2084px;

}


.search-top:hover {
    background-color: #604e43;
}

.search-top:active {
    background-color: #503e33;
    color: #928a85;
}

.search-top h3 {
    color: #ffffff;
}


.form-text {
    background-color: #f2f2f2;
}

.form-text:hover {
    background-color: #ebebeb;
}

.form-text:focus {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.position-box  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    box-sizing: inherit;
    
}

.flex-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    box-sizing: inherit;
}

.position-box input {
    width: 73%;
    height: 35px;
    padding-left: 12px;
    box-sizing: inherit;
}

.flex-adults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px; 
    position: relative;
}

.flex-kids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 40%;
    position: relative;
    
}

.position-box-people {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
    box-sizing: inherit;
    
}

.position-box-people input {
    background-color: #f2f2f2;
    height: 35px;
    text-align: center;
    box-sizing: inherit;
}

.position-box label,
.position-box input,
.position-box-people input,
.position-box-people label{
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  border-style: hidden;
}

.form-button {
    width: 460px;
    height: 60px;
    background-color: #81b3d2;
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border-style: none;
    
}

.form-button:hover {
    background-color: #669ec0;
}

.form-button:active {
    background-color: #5496bd;
    color: #94b9d2;
}

.hotels-form {
    height: 217px;
    background-color:  #ffffff;
    background-image: url(../img/hotels-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    padding: 0 72px;
    justify-content: flex-start;
    height: 217px;
}

.form-types {
    margin-left: 11.4%;
}

.form-table {
    margin-left: auto;
}


.form-infra span,
.form-types span {
    font-size: 16px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}


.form-infra,
.form-types,
.form-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0;
    height: 100%;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: bold;
}

.form-infra label,
.form-types label,
.form-table label {
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-weight:normal;
    text-transform: uppercase;
}


.form-infra input[type="checkbox"]:checked,
.form-types nput[type="checkbox"]:checked {
    display: none;
}

.form-infra input[type="checkbox"],
.form-types input[type="checkbox"] {
    display: none;
    
}

.form-infra label,
.form-types label{
    padding-left: 42px;
    padding-top: 2px;
    box-sizing: inherit;
}

.form-infra input[type="checkbox"]:checked + label,
.form-types input[type="checkbox"]:checked + label{
    content: "";
    display: inline-block;
    height: 23px;
    vertical-align: middle;
    background-image: url(../img/method.svg);
    background-repeat:no-repeat;
}

.form-infra input[type="checkbox"] + label,
.form-types input[type="checkbox"] + label{
    content: "";
    display: inline-block;
    height: 23px;
    vertical-align: middle;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;  
}


.filter-range {
    width: 330px;
    color: #ffffff;
    text-transform: uppercase;
}


.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  min-height: 35px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.search-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 86px;
    padding: 0 72px;
    background-color: #ffffff;
    box-sizing: inherit;
}

.search-results ul {
    padding: 0;
}

.sort-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.sort-button:nth-child(2) {
    margin-left: 10px;
}

svg:active .sort-button {
    opacity: 1;
    fill: #81b3d2;
}

.found {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    font-size: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    width: 13%;
}

.sort-found {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 87%;
    margin-left: auto; 
}

.sort-section li:first-child {
    margin-right: 36px;
    margin-left: 27px;
    color: #000000;
}

.sort-section li:nth-child(2),
.sort-section li:nth-child(3) {
    margin-right: 30px; 
}
.sort-section  {
    font-size: 12px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #cacaca;
    
}

.sort-section a:link {
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}

.sort-section a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sort-section a:active {
    color: #000000;
    border-bottom-style: none;
}

.search-results li {
    display: inline-block;
    vertical-align: middle;
}

.result-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 72px;
    border-top: 1px solid lightgrey;
    background-color: #ffffff;
}

.result-item:nth-child(3) {
    border-bottom: 1px solid lightgrey;
}

.flex-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    margin-left: 30px;
}

.hotel-name {
  font-size: 21px;
  font-family: "PT Sans" "Arial" sans-serif;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: #cacaca;
}

.three-stars {
    width: 66px;
    overflow: hidden;
    margin-left: auto;
}

.two-stars {
    width: 42px;
    overflow: hidden;
    margin-left: auto;
}

.hotel-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.hotel-flex h3 {
    margin: 0;
    padding: 0;
}

.hotel-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; 
    width: 182px;
}

.hotel-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.button-details  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 110px;
    background-color: #81b3d2;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
}

.button-details:hover {
    background-color: #669ec0;
}

.button-details:active {
    background-color: #5496bd;
    color: #88b6d1;
}


.button-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 142px;
    background-color: #766357;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.button-book:hover {
    background-color: #604e43;
}

.button-book:active {
    background-color: #503e33;
    color: #857871;
}

.rate-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 110px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #666666;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: auto;
}

.search-hotel-form input {
    border: 1px solid #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}